VITE_FIREBASE_API_KEY=AIzaSyCHnFwwn5aGwzcDexUznwAD_Esqc0GSUD4
VITE_FIREBASE_AUTH_DOMAIN=ai-powered-cropcare-a222d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ai-powered-cropcare-a222d
VITE_FIREBASE_STORAGE_BUCKET=ai-powered-cropcare-a222d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=283357211551
VITE_FIREBASE_APP_ID=1:283357211551:web:b21fe74234f1f8d871ebaa
